/*
 * <a href="http://thenounproject.com/noun/document/#icon-No5876" target="_blank">Document</a> designed by <a href="http://thenounproject.com/jamison" target="_blank">Jamison Wieser</a> from The Noun Project */
/* Resets *
 * ****** */
body {
  color: #555555;
}
/* Links *
 * ----- */
a:link,
a:visited {
  color: #363339;
}
a:hover {
  color: #5c5761;
}
#content a:link,
dl.portlet a:link,
#content a:visited,
dl.portlet a:visited {
  color: #363339;
  text-decoration: underline;
  border-bottom: none;
}
#content a:hover,
dl.portlet a:hover {
  color: #5c5761 !important;
}
footer a,
#portal-footer a,
#portal-colophon a,
#portal-siteactions li a,
footer a:link,
#portal-footer a:link,
#portal-colophon a:link,
#portal-siteactions li a:link,
footer:visited,
#portal-footer:visited,
#portal-colophon:visited,
#portal-siteactions li:visited {
  color: #ececec;
  text-decoration: underline;
}
footer a:hover,
#portal-footer a:hover,
#portal-colophon a:hover,
#portal-siteactions li a:hover {
  color: #c6c6c6;
}
/* Basic classes *
 * ------------- */
.align-right {
  float: right;
}
.align-left {
  float: left;
}
/* HEADER *
 * ****** */
#header-wrapper,
#footer-wrapper {
  background: url('../images/bg-motif-jacq.png') repeat center center;
}
#portal-globalnav {
  margin: 80px 10px 1em 10px;
  background: transparent;
  border-bottom: 1px solid #c2c2c2;
}
#portal-globalnav li a:hover,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a,
#portal-globalnav li.selected a {
  background: transparent;
  color: white;
  border-bottom: 5px solid #000000;
}
#portal-globalnav li a {
  border: none;
  border-bottom: 5px solid transparent;
  min-width: auto;
  padding: 0.5em 0;
  margin-right: 2em;
  font-weight: bold;
  margin-bottom: -4px;
}
/* Sunburst Theme fixes to works with 960css */
#portal-searchbox {
  position: relative;
  z-index: 10;
}
#portal-personaltools {
  z-index: 15;
}
/* FOOTER *
 * ****** */
footer {
  color: #fefefe;
  padding-top: 1em;
}
footer .clear {
  margin-bottom: 1em;
}
#portal-footer,
#portal-colophon,
#portal-siteactions {
  font-size: 85%;
}
#portal-footer {
  padding: 0;
  margin: 0 10px;
  background: transparent;
}
#portal-siteactions {
  clear: none;
  padding-bottom: 0;
  text-align: left;
  line-height: 2em;
}
#portal-siteactions li {
  display: block;
}
#portal-colophon {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
}
/* PORTLETS *
 * ******** */
dl.portlet-static-libertic-context dd.home ul li,
dl.portlet-libertic-context dd.home ul li,
dl.portlet-static-libertic-context dd.download ul li,
dl.portlet-libertic-context dd.download ul li {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
}
dl.portlet-static-libertic-context dd.download li a,
dl.portlet-libertic-context dd.download li a {
  padding-top: 40px;
  display: block;
  width: 36px;
}
dl.portlet-static-libertic-context .xml,
dl.portlet-libertic-context .xml {
  background: transparent url('../images/icon-xml.png') no-repeat center top;
}
dl.portlet-static-libertic-context .csv,
dl.portlet-libertic-context .csv {
  background: transparent url('../images/icon-csv.png') no-repeat center top;
}
dl.portlet-static-libertic-context .ical,
dl.portlet-libertic-context .ical {
  background: transparent url('../images/icon-ical.png') no-repeat center top;
}
dl.portlet-static-libertic-context .json,
dl.portlet-libertic-context .json {
  background: transparent url('../images/icon-json.png') no-repeat center top;
}
dl.portlet-static-libertic-context dd.add-content li a,
dl.portlet-libertic-context dd.add-content li a {
  padding-left: 32px;
  display: block;
  min-height: 30px;
  background: transparent url('../images/picto-add-30.png') no-repeat left center;
}
.section-front-page #portlets-above .fixed-width-220 .portlet,
.section-front-page #portlets-below .fixed-width-220 .portlet {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
#content .portlet-libertic-logoslide {
  width: 100%;
}
#content .portlet-libertic-logoslide li.portletItem,
#content .portlet-libertic-logoslide dd.portletItem {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  background: url('../images/bg-heading.png') repeat center center;
  height: 140px;
  margin-bottom: 20px;
}
#content .portlet-libertic-logoslide li.portletItem a,
#content .portlet-libertic-logoslide dd.portletItem a,
#content .portlet-libertic-logoslide li.portletItem span.image,
#content .portlet-libertic-logoslide dd.portletItem span.image {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
/* Content *
 * ******** */
/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
}
#content dl.portlet dt,
h1,
h2.portletHeader,
h2.tileHeadline {
  font-size: 100%;
  line-height: 2.5em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  background: transparent url('../images/bg-heading.png') repeat-x left bottom;
}
h3.tileHeadline {
  font-size: 100%;
  line-height: 2.5em;
  text-transform: uppercase;
}
#content dl.portlet dt {
  padding: 0;
}
h2 {
  font-size: 100%;
  line-height: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#content h2.tileHeadline a {
  text-decoration: none;
}
/* lists, description, ... */
#content ul,
#content ol,
#content dl {
  margin-bottom: 0.5em;
}
#content .documentDescription,
#content #description {
  font-size: 1em;
  color: #555555;
  margin-bottom: 0.5em;
}
#content p {
  margin-bottom: 0.5em;
}
/* Summary view *
 * ------------ */
/* hide main documentByLine */
body.template-summary_view #plone-document-byline {
  display: none;
}
/* Read more */
.tileItem p.tileFooter {
  padding-left: 35px;
  line-height: 30px;
  background: url('../images/picto-search-30.png') no-repeat left center;
  text-transform: uppercase;
}
.portletNews .portletItem,
.tileItem {
  margin-bottom: 2em;
  /* Documentbyline */

}
.portletNews .portletItem .documentByLine,
.tileItem .documentByLine {
  padding: 2px 5px;
  font-style: italic;
  font-size: 0.85em;
  color: #fefefe;
  background-color: #363339;
}
.portletNews .portletItem #plone-document-byline,
.tileItem #plone-document-byline {
  display: none;
}
.portletNews .portletItem .tileFooter {
  text-align: right;
  background: none;
}
.portletNews .portletItem .tileFooter a {
  height: 74px;
  width: 74px;
  display: inline-block;
  background: url('../images/picto-search-74.png') no-repeat right center;
}
/* Links override */
#content p.tileFooter a {
  border-bottom: 2px solid #c2c2c2;
  text-decoration: none;
}
#content .tileItem .documentByLine a {
  color: #fefefe;
}
#content .portlet h2 a,
#content .portlet h3 a {
  text-decoration: none;
}
/* Images */
#content img.tileImage,
#content div.newsImageContainer {
  padding: 4px;
  background: url('../images/bg-heading.png') repeat center center;
}
/* Datatable view *
 * -------------- */
#content .dataTable,
.dataTable {
  padding-top: 0;
}
table.listing.dataTable {
  background-color: #363339;
  padding: 9px;
  border-radius: 9px;
}
table.listing.dataTable th {
  background-color: #363339;
}
table.listing.dataTable td:last-child {
  border-right-color: #363339;
}
table.listing.dataTable tbody tr:first-child td:first-child {
  border-radius: 9px 0 0 0;
}
table.listing.dataTable tbody tr:first-child td:last-child {
  border-radius: 0 9px 0 0;
}
table.listing.dataTable tbody tr:last-child td:first-child {
  border-radius: 0 0 0 9px;
}
table.listing.dataTable tbody tr:last-child td:last-child {
  border-radius: 0 0 9px 0;
}
table.dataTable thead th {
  border-color: #363339;
  color: #ececec;
}
.DataTables_sort_icon.ui-icon {
  float: right;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-image: url('../images/sprite-datatable.png');
}
.DataTables_sort_icon.ui-icon.ui-icon-triangle-1-n {
  background-position: -20px 0;
}
.DataTables_sort_icon.ui-icon.ui-icon-triangle-1-s {
  background-position: -40px 0;
}
