bin
etc/project/libertic.event-kgs.cfg
develop-eggs/
etc/apache/100-libertic.event.reverseproxy.conf
etc/forespir.env
etc/hudson/libertic.event/build/activate_env.sh
tags.python
etc/hudson/libertic.event/config.xml
etc/libertic.event.env
!etc/sys
.installed.cfg
.minitage
minitage.buildout-dev.cfg.before.fixed_version.bak*
.mr.developer.cfg
parts
src.mrdeveloper/*
!src.mrdeveloper/zopelib
sys
!etc/sys
t
var
src.mrdeveloper/zopelib/zopelib.egg-info
*.env
