# Plone production buildout
# It will install your plone in production mode
# Launch it:
# bin/buildout -c buildout-prod.cfg
# or minimerge -NuUvR libertic.event-prod-light
# Look at the base buildout: ./etc/base.cfg for other details of your plone installation


[buildout]
extends-cache=etc/cache
extends=buildout-prod.cfg etc/sys/settings-preprod.cfg
extends-=etc/sys/settings-prod.cfg
# vim:set ft=cfg:
